 @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@1,200&family=Poppins&family=Roboto:wght@100&display=swap');

body{
    background-color: rgb(254, 254, 254);
    margin: 0;
    font-family: 'Poppins', sans-serif; 
    text-align: center;
}

h1{
    font-size: 45;
}

.logo{
    width: 200px
    
}


.bi-film{
    font-size: 30px;
    margin-right: 10px;
}